.Profile{
    margin: auto;
    /* max-width: 70%; */
}


.profilePic{
    /* margin-top: 20px;
    margin-left: 20px; */
    /* position: relative; */
    height: 300px;
    /* overflow: hidden; */
    width: 300px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* box-shadow: 5px 10px rgb(52, 53, 56); */
    border-style: solid;
    border-radius: 50%;
}

.profilePicPopUp {
    height: 200px;
    /* overflow: hidden; */
    width: 200px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* box-shadow: 5px 10px rgb(52, 53, 56); */
    border-style: solid;
    border-radius: 50%;
}


.profileContainer{
    position: relative;
    margin: auto;
    /* display: solid; */
    border-style: solid;
    border-radius: 20px;
    /* border: yellow; */
    height: 300px;
    max-width: 60%;
    /* outline-color: blue; */
    background-color: rgb(211, 224, 230);
    text-align: center;
    margin-bottom: 20px;
}

.changePicTitle {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(178, 176, 176);
}

.imageContainer {
    text-align: center;
}

.userPicture{
    /* width: 100%;
    border-radius: 20px;
    height: 100% */
    margin-top: 20px;
    position: relative;
    height: 250px;
    overflow: hidden;
    width: 250px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* box-shadow: 5px 10px rgb(52, 53, 56); */
    border-style: solid;
    border-radius: 50%;
}

.changePicButton{
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    /* width: 20%;
    height: 20%; */
    background-color: rgb(234, 222, 222);
    margin-top: 10px;
}

.changeImageButton {
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    background-color: rgb(234, 222, 222);
    /* margin-right: 50px; */
    padding-top: 5px;
    padding-bottom: 5px;
    width: 25%;
    /* margin-top: 5px; */
}


.chooseFileInput {
    /* margin-bottom: 1000px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    /* text-align: center; */
    /* position: relative; */
    width: 70%;
    background-color: antiquewhite;
    margin-bottom: 10px;
    /* border: 1px solid red; */
    /* margin-left: 10px; */
    /* float: top; */
    /* margin-left: 10px; */
    /* padding-bottom: 20%; */
}

.profileInfo{
    /* display: inline-block; */
    float: left;
    margin-left: 60px;
    border: 1px solid red;
    padding: 1rem 1rem;
    /* vertical-align: middle; */
    /* width: 70%; */
    height: 60%;
    /* margin-top: 10px;
    margin-top: 90px;
    padding-top: 10%; */
}

.labelProfile{
    font-family: "Verdana";
    float: left;
    margin-top: 26px;
    /* font-size: larger; */
}

.profileInput{
    /* display: inline-block; */
    /* float: right; */
    /* margin-right: 200px; */
    /* display: block; */
    border: 1px solid rgb(0, 255, 4);
    /* max-width: 100%; */
    /* float: left; */
    /* margin-top: 10px; */
    margin-right: 100px;
    padding: 1rem 1rem;
    /* vertical-align: middle; */
    /* margin-top: 50px; */
    height: 60%;
    /* width: 70%; */
    /* line-height: 60px; */
    /* margin-top: 10px; */
}

.inputProfile{
    width: 60%;
    margin-top: 24px;
    /* font-size: larger; */
    font-family: "Verdana";
}

.editButton{
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    width: 25%;
    background-color: rgb(234, 222, 222);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 50px;
    /* margin-right: 100px; */
    /* margin-top: 5px; */
}

.dialogInfo {
        /* display: inline-block; */
        float: left;
        /* margin-bottom: 200px; */
        margin-left: 30px;
        text-align: left;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        /* border: 1px solid red; */
        /* padding: 1rem 1rem; */
        /* vertical-align: middle; */
        /* width: 70%; */
        /* height: 60%; */
        /* margin-top: 10px;
        margin-top: 90px;
        padding-top: 10%; */
}

.dialogInput{
    /* display: inline-block; */
    /* float: left; */
    /* margin-right: 200px; */
    /* display: block; */
    /* border: 1px solid rgb(0, 255, 4); */
    margin-left: 120px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* max-width: 100%; */
    /* float: left; */
    /* margin-top: 10px; */
    /* margin-right: 90px; */
    /* padding-right: 100px; */
    /* text-align: left; */
    /* padding: 1rem 1rem; */
    /* vertical-align: middle; */
    /* margin-top: 50px; */
    /* height: 60%; */
    /* width: 70%; */
    /* line-height: 60px; */
    /* margin-top: 10px; */
}

.passwordButton{
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    width: 25%;
    background-color: rgb(234, 222, 222);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 50px;
    /* margin-right: 100px; */
    /* margin-top: 5px; */
}

.dialog3Info {
    float: left;
    margin-left: 10px;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid red; */
    /* padding-top: 20px; */
    margin-top: 10px;

}

.dialog3Input {
    /* border: 1px solid rgb(0, 255, 4); */
    /* margin-left: 150px; */
    float: left;
    margin-left: 20px;
    /* padding-top: 20px; */
    margin-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}